# Django Secret Key
SECRET_KEY=django-insecure-y9z#e(g#6l$d8et&$8^0#++o=seq$$3_+@d9l(3u2o1)4t@in_

# Debug Mode (True for development, False for production)
DEBUG=True

# Allowed Hosts (Comma-separated list)
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database URL (Render will provide this automatically)
# For local dev, leave it blank to use SQLite
# DATABASE_URL=postgres://user:password@hostname:port/dbname
